<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A prototype by Leibniz Solutions." />

    <title>Ikonek</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/homepage.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="navbar">
      <div class="space1"></div>
      <h4 style="padding: 0.5%; margin: 2%; display: inline">
        I-konek
      </h4>
      <div class="space1"></div>
    </div>
    <div class="space1"></div>
    <div class="space1"></div>
    <div class="line"></div>
    <div id="joblistContainer">
      <form id="search" class="indexform" style="width: 100%">
        <input
          id="searchbar"
          class="boxsearchbar"
          type="text"
          placeholder="Try something like: weeding, driving"
          style="width: 50%; border-radius: 0px;"
        />
      </form>
      <div id="cardList"></div>
    </div>

    <footer>A prototype by Leibniz Solutions.</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
